<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cakesale.dao.ProductDAO">
    <!-- <resultMap id = "productMap" type = "Product">
         <id property = "id" column = "ID"></id>
         <result property = "name" column = "NAME"></result>
         <result property = "taste" column = "TASTE"></result>
         <result property = "sweet" column = "SWEET"></result>
         <result property = "imgUrl" column = "IMG_URL"></result>
         <result property = "remark" column = "REMARK"></result>
         <result property = "name" column = "NAME"></result>
         <association property = "productSpec" javaType = "ProductSpec">
             <result property = "price" column = "price"></result>
         </association>
     </resultMap>-->
    <sql id="search_products">
        SELECT
            p.ID            p_id,
            p.NAME          name,
            p.TASTE         taste,
            p.SWEET         sweet,
            p.IMG_URL       imgUrl,
            p.REMARK        remark,
            p.default_price price,
            p.tage          tage,
            p.type          type,
            p.ps_id         id
        FROM product p
    </sql>
    <select id="getAllproducts" resultType="ProductSpec">
        <include refid="search_products"></include>
    </select>

    <select id="getProductByProductId" resultType="Product" parameterType="int">
        SELECT
            p.id,
            p.name,
            p.sweet,
            p.remark,
            p.price
        FROM product p
    </select>

    <!--待定-->
    <!--<select id="getProductsDetail" resultType="Product">
        SELECT
            p.ID      id,
            p.NAME    name,
            p.TASTE   taste,
            p.SWEET   sweet,
            p.IMG_URL imgUrl,
            p.REMARK  remark,
            p.PRICE   price,
            p.tage    tage,
            p.type    type
        FROM PRODUCT p
            INNER JOIN PRODUCT_SPEC ps
        WHERE p.id = ps.product_id
    </select>-->

</mapper>