<?xml version="1.0" encoding="UTF-8"  ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cakesale.dao.VerCodeDAO">

    <resultMap id="select" type="VerCodeTO">
        <id column="ID" property="id"/>

        <result property="mobile" column="NUM"/>
        <result property="code" column="CODE"/>
        <result property="createdDate" column="CREATEDDATE"/>
        <association property="user" column="user">
            <id property="id" column="USER_ID"/>
        </association>
    </resultMap>
    <insert id="addCode" parameterType="VerCodeTO">
        INSERT INTO USER_NUM_VERIFY(NUM,CODE,CREATED_DATE) VALUES(#{mobile},#{code},NOW());
    </insert>
    <select id="getCodeByMobile" parameterType="String" resultType="VerCodeTO">
        SELECT NUM phoneNum,CODE code,CREATED_DATE CREATEDDATE  FROM USER_NUM_VERIFY WHERE NUM=#{MOBILE}
    </select>
    <delete id="deleteCodeByMobile" parameterType="String">
        DELETE FROM USER_NUM_VERIFY WHERE NUM=#{MOBILE}
    </delete>
</mapper>