@charset "utf-8";
.sales_pic{height:202px;overflow:hidden;}
.sales_pic div.sales_pic_middle{width:960px;padding-top:21px;float:left;}
.sales_pic div.sales_pic_middle ul{width:915px;margin:0 auto;}
.sales_pic div.sales_pic_middle ul li{float:left;width:305px;text-align:center;}
.sales_pic div.sales_pic_middle ul li img{border:1px solid #e00;}
.sales_btn_box{margin-top:25px;height:50px;}
.sales_btn_box ul{height:25px;padding-bottom:2px;background:url(../images/activity_rec_gbtn.gif) no-repeat 0 0;border-bottom:2px solid #e00;}
.sales_btn_box ul li{float:left;height:25px;position:relative;padding:0 2px;}
.sales_btn_box ul li a{display:block;height:25px;text-indent:-999em;background:url(../images/activity_rec_gbtn.gif) no-repeat;outline:none;position:absolute;left:0;top:0;}
.sales_btn_box ul li.btn_01,.sales_btn_box ul li.btn_01 a{background-position:-2px 0;width:106px;}
.sales_btn_box ul li.btn_02,.sales_btn_box ul li.btn_02 a{width:106px;background-position:-110px 0;}
.sales_btn_box ul li.btn_03,.sales_btn_box ul li.btn_03 a{width:94px;background-position:-220px 0;}
.sales_btn_box ul li.btn_04,.sales_btn_box ul li.btn_04 a{width:94px;background-position:-318px 0;}
.sales_btn_box ul li.btn_01 a:hover,.sales_btn_box ul li.btn_01 a:active,.sales_btn_box ul li.btn_01.on a{height:40px;top:-3px;background-position:0 -26px;}
.sales_btn_box ul li.btn_02 a:hover,.sales_btn_box ul li.btn_02 a:active,.sales_btn_box ul li.btn_02.on a{height:40px;top:-3px;background-position:-110px -26px;}
.sales_btn_box ul li.btn_03 a:hover,.sales_btn_box ul li.btn_03 a:active,.sales_btn_box ul li.btn_03.on a{height:40px;top:-3px;background-position:-220px -26px;}
.sales_btn_box ul li.btn_04 a:hover,.sales_btn_box ul li.btn_04 a:active,.sales_btn_box ul li.btn_04.on a{height:40px;top:-3px;background-position:-318px -26px;}
.sales_product_list ul li{height:315px;}
.sales_product_list ul li div.text span.price{font-size:12px;}
.sales_events_topic{float:left;display:inline;width:97%;padding-bottom:20px;border:1px solid #dadada;overflow:hidden;}
.sales_events_topic h3.activity_ntitle{position:relative;height:30px;font-size:12px;line-height:30px;background:url(../images/hui_bg.gif) repeat-x 0 0;}
.sales_events_topic h3.activity_ntitle img{position:absolute;top:0;left:0;}
.sales_events_topic ul{overflow:hidden;width:100%;padding-bottom:20px;}
.sales_events_topic ul li{position:relative;padding:20px 0 20px 0;float:left;width:100%;border-bottom:1px dashed #dedede;}
.sales_events_topic ul li div.pic{float:left;width:450px;padding-left:20px;}
.sales_events_topic ul li div.pic img{border:1px solid #eaeaea;}
.sales_events_topic ul li div.text{float:left;width:360px;padding:0 30px;color:#999;line-height:1.5;}
.sales_events_topic ul li div.text h4{font-size:14px;font-weight:bold;color:#000;}
.sales_events_topic ul li div.text h4 em{font-size:12px;font-weight:normal;font-style:normal;color:#000;}
.sales_events_topic ul li div.text h4 .lit_ico{margin:-7px -20px 5px -1px;position:relative;}
.sales_events_topic ul li div.text span{display:block;font-size:12px;color:#000;padding:3px 0;}
.sales_events_topic ul li span.lookmore{position:absolute;right:20px;bottom:12px;}
.sales_events_topic .lookback{display:block;width:188px;margin:0 auto;}
.sales_events_topic ul.lookback_list{}
.sales_events_topic ul.lookback_list li{float:left;width:290px;height:175px;padding-left:20px;padding-right:40px;padding-bottom:0;overflow:hidden;}
.sales_events_topic ul.lookback_list li div.text{padding-left:20px;}
.sales_events_topic ul.lookback_list li div.text h4{width:280px;font-size:12px;font-weight:normal;color:#000;padding-top:5px;}
.sales_events_topic ul.lookback_list li div.text span{display:block;font-size:12px;color:#000;padding:3px 0;}
.sales_events_topic ul.lookback_list li span.lookmore{position:absolute;right:20px;bottom:12px;}
.sales_events_topic ul li div.text a:link,.sales_events_topic ul li div.text a:visited{color:#4d4d4d;}
.sales_events_topic ul li div.text a:hover,.sales_events_topic ul li div.text a:active{color:#c00;}
.sales_events_topic ul li div.text a.red:link,.sales_events_topic ul li div.text a.red:visited{display:block;padding-top:10px;padding-right:15px;background:url(../images/activity_toinfo_btn.gif) no-repeat 65px 18px;color:#e60012;text-decoration:none;}
.sales_events_topic ul li div.text a.red:hover,.sales_events_topic ul li div.text a.red:active{color:#e60012;text-decoration:underline;}
.sales_btn_box_bottom{height:38px;background:url(../images/activity_rec_box_bottom.gif) no-repeat;}
.active_events_showbox{width:910px;margin:0 auto;overflow:hidden;}
ul.active_events_topic{width:960px;overflow:hidden;margin-left:-25px;}
.active_events_topic li{float:left;padding:20px 25px 20px 0;width:;border-bottom:1px dotted #aaa;}
.active_events_topic div.text{color:#c00;line-height:24px;padding:2px 0 2px 25px;font-size:14px;font-weight:600;}
.active_events_topic div.pic{padding-left:25px;border-left:1px dotted #aaa;}
.active_events_topic div.pic img{border:1px solid #dedede;}
.active_events_topic ul li div.pic img{border:1px solid #eaeaea;}
div.activity_view_box{width:960px;overflow:hidden;}
div.activity_view_box ul{width:975px;margin-left:-6px;padding-top:10px;}
div.activity_view_box ul li{float:left;display:inline;margin-left:6px;width:187px;height:340px;text-align:center;}
div.activity_view_box ul li div.pic{height:195px;position:relative;}
div.activity_view_box ul li div.pic .selout{position:absolute;left:0;top:0;width:170px;height:93px;margin-top:50px;margin-left:12px;/*background:url(../images/shouwanle.png) no-repeat 0 0;_filter:progid:dximagetransform.microsoft.alphaimageloader(src='/shop/lining/theme/xth2/images/activitylist/shouwanle.png');_background:0;*/
/**新品回顾头部小图标**/
/*div.activity_view_box ul li div.pic .num0,div.activity_view_box ul li div.pic .num1,div.activity_view_box ul li div.pic .num2,div.activity_view_box ul li div.pic .num3,div.activity_view_box ul li div.pic .num4{position:absolute;left:130px;top:0;width:51px;height:30px;background:url(../images/activehot.png) no-repeat 0 0;}
div.activity_view_box ul li div.pic .num1{background-position:-51px 0;}
div.activity_view_box ul li div.pic .num2{background-position:-102px 0;}
div.activity_view_box ul li div.pic .num3{background-position:-153px 0;}
div.activity_view_box ul li div.pic .num4{background-position:-204px 0;}
*/
/**新品回顾头部小图标 结束**/
/*div.activity_view_box ul li div.pic a:hover img{border:1px solid #ea7b5a;}
div.activity_view_box ul li div.pic img{border:1px solid #f1f1f1;width:185px;height:185px;}
div.activity_view_box ul li div.text{text-align:left;padding:0 10px;line-height:1.5;}
div.activity_view_box ul li div.text div.title{height:45px;}
div.activity_view_box ul li div.text div.title span.promotion_red{color:#c00;}
div.activity_view_box ul li div.text span.price{color:#c00;font-weight:bold;font-size:14px;}
div.activity_view_box ul li div.text span.buy{display:block;padding-top:6px;}
*/
/**倒计时**/
/*.buyintime{float:right;display:inline;width:253px;margin-top:10px;overflow:hidden;}
.buyintime .timetobuy{position:relative;border:1px solid #dedede;padding-top:31px;padding-bottom:20px;background:url(../images/buyintime_box_bg.gif) repeat-x 0 bottom;}
.buyintime .timetobuy h4{position:absolute;left:-1px;top:0;width:253px;height:31px;overflow:hidden;background:#c00 url(../images/special_today.gif) no-repeat -30px 1px;text-indent:-999px;}
.buyintime .timetobuy h4 img{position:absolute;left:-1px;top:-1px;}
.buyintime .timetobuy a{display:block;text-align:center;padding:5px 0;}
.buyintime .timetobuy h4 a{float:right;font-size:12px;font-weight:normal;width:246px;line-height:22px;text-indent:0;text-align:right;padding-top:8px;padding-right:5px;padding-bottom:0;color:#fff;}
.buyintime .timetobuy span.bprice{display:block;font-size:14px;text-align:center;}
.buyintime .timetobuy span.bprice .oldprice{color:#666;text-decoration:line-through;}
.buyintime .timetobuy span.bprice .price{font-size:16px;color:#e00;margin-left:15px;}
.buyintime .timetobuy span.btitle{display:block;font-size:18px;font-weight:bold;text-align:center;padding:4px 0;}
#countdown{display:block;font-size:18px;font-weight:bold;color:#fff;width:164px;height:24px;line-height:24px;text-align:center;background:url(../images/buyintime_num_bg.gif) repeat-x 0 0;margin:0 auto 5px;}
*/
/**活动页头**/
/*#nexttime{width:251px;height:108px;border:1px solid #dedede;background:url(../images/nexttime.gif) no-repeat 0 0;margin-top:10px;}
#nexttime .showtime{display:block;height:39px;width:180px;font-size:22px;color:#fff;line-height:39px;background:url(../images/nexttime_bg.gif) repeat-x 0 0;margin-top:58px;margin-left:49px;text-align:center;}
*/
/**预订邮件**/
/*.buyintime .setemail{width:248px;height:78px;padding:45px 0 0 5px;background:url(../images/setemail_bg.gif) no-repeat 0 0;}
.buyintime .setemail table{width:240px;}
.buyintime .setemail table td{height:30px;font-size:14px;line-height:30px;color:#fff;}
.buyintime .setemail table input{width:173px;padding:3px;vertical-align:middle;}
.buyintime .setemail table td img{vertical-align:middle;padding-left:5px;}
h4.activity_title{height:27px;padding-top:20px;font-weight:normal;border-bottom:2px solid #e00;position:relative;}
h4.activity_title a{display:inline;font-size:12px;position:absolute;bottom:2px;right:0;padding-right:16px;background:url(../images/dsanjiaopoint.gif) no-repeat right center;}
h4.activity_title a:link,h4.activity_title a:visited{color:#666;}
h4.activity_title a:hover,h4.activity_title a:active{color:#c00;}
span.duihao{width:58px;height:56px;position:absolute;right:2px;bottom:4px;background:url(../images/duihao.png) no-repeat;}
* html span.duihao{right:2px;filter:progid:dximagetransform.microsoft.alphaimageloader(enabled=true,sizingmethod=scale,src="/shop/lining/theme/xth2/images/activitylist/duihao.png");background:none;}
span.act_on{display:inline-block;height:16px;width:61px;background:url(../images/bg_flow.gif) no-repeat 0 -308px;margin-left:10px;}
span.act_off{display:inline-block;height:16px;width:61px;background:url(../images/bg_flow.gif) no-repeat 0 -324px;margin-left:10px;}
span.act_not{display:inline-block;height:16px;width:61px;background:url(../images/bg_flow.gif) no-repeat 0 -340px;margin-left:10px;}
/**积分换购活动登录样式**/
/*.act6_score_view{height:33px;background:url(../images/act_bg.gif) repeat-x;color:#3a3a3a;font-size:14px;font-weight:bold;line-height:33px;text-align:left;padding-left:12px;}
.act6_score_view a{color:#c00;}
*/
