@charset "UTF-8";
.main_home .main {
  background: #ffffff;
  position: relative;
  min-width: 1200px;
}
.main_home .main .banner {
  overflow: hidden;
  position: relative;
  min-height: 400px;
}
.main_home .main .banner img {
  position: relative;
  width: 100%;
}
.main_home .main .banner:hover .nav_wrap {
  display: block;
}
.main_home .main .banner .nav_wrap {
  position: absolute;
  width: 1200px;
  height: 0;
  left: 50%;
  margin-left: -600px;
  top: 50%;
  display: none;
  z-index: 10;
}
.main_home .main .banner .nav {
  position: absolute;
  width: 50px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
  background: url("../images/banner_arrow.png") no-repeat;
}
.main_home .main .banner .prev {
  background-position: 0 0;
  left: 0;
}
.main_home .main .banner .next {
  background-position: -50px 0;
  right: 0;
}
.main_home .main .cake_section {
  position: relative;
  z-index: 2;
  margin: -5% auto 20px;
  padding: 20px;
  background: #f9f9f9;
}
.main_home .main .cake_section .slider {
  margin-bottom: 20px;
}
.main_home .main .cake_section .slider a:first-of-type {
  float: left;
}
.main_home .main .cake_section .slider a:last-of-type {
  float: right;
}
.main_home .main .cake_section .link_wrap {
  text-align: right;
  margin-top: 18px;
  font-size: 14px;
}
.main_home .main .gift_section {
  position: relative;
  z-index: 2;
  padding: 20px 0;
  background: #f9f9f9;
}
.main_home .main .gift_section .link_wrap {
  text-align: right;
  margin-top: 18px;
  font-size: 14px;
}
.main_home .main .comment_section {
  width: 841px;
  margin: auto;
  position: relative;
  padding-bottom: 20px;
}
.main_home .main .comment_section h2 {
  font-size: 18px;
  font-weight: bold;
  padding: 16px 0 20px;
  text-align: center;
}
.main_home .main .comment_section .nav {
  position: absolute;
  width: 30px;
  height: 70px;
  top: 50%;
  background: url("../images/swiper_arrow.png") no-repeat;
}
.main_home .main .comment_section .prev {
  background-position: 0 0;
  left: -80px;
}
.main_home .main .comment_section .next {
  background-position: -30px 0;
  left: auto;
  right: -80px;
}
.main_home .main .comment_section .comment_item {
  width: 227px;
  height: 450px;
  position: relative;
  margin-right: 80px;
  float: left;
}
.main_home .main .comment_section .comment_item:last-of-type {
  margin-right: 0;
}
.main_home .main .comment_section .comment_item figure {
  height: 100px;
  text-align: center;
}
.main_home .main .comment_section .comment_item figure .img_wrap {
  width: 68px;
  height: 68px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 0 auto 6px;
}
.main_home .main .comment_section .comment_item .comment_content {
  position: relative;
  height: 260px;
  padding-top: 60px;
  background: url("../images/comment_bg.png") no-repeat center top;
}
.main_home .main .comment_section .comment_item .comment_content .text {
  width: 158px;
  height: 108px;
  overflow: hidden;
  line-height: 18px;
  margin: 0 auto;
}
.main_home .main .comment_section .comment_item .comment_content .content_time {
  width: 158px;
  margin: 0 auto 18px;
  text-align: right;
  color: #9c9c9c;
  font-size: 12px;
}
.main_home .main .comment_section .comment_item .comment_content .cake_info {
  text-align: center;
  height: 124px;
  position: relative;
}
.main_home .main .comment_section .comment_item .comment_content .cake_info img {
  position: relative;
}
.main_home .main .comment_section .comment_item .comment_content .cake_info p {
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: 0;
  line-height: 20px;
}
.main_home .main .comment_section .swiper-pagination-bullet-active {
  background: #ff0000;
}
.top_calendar {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 400px;
  width: 80px;
  height: 84px;
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  box-shadow: 0 0 10px rgba(222, 222, 222, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(222, 222, 222, 0.6);
  z-index: 2;
}
.top_calendar:before {
  position: absolute;
  width: 55px;
  height: 14px;
  content: '';
  top: 0;
  left: 50%;
  margin-left: -28px;
  background: url("../images/bg.png") no-repeat center;
}
.top_calendar .month {
  font-size: 14px;
  color: #d64827;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}
.top_calendar .date {
  font-size: 0;
  text-align: center;
}
.top_calendar .date img {
  width: 28px !important;
  height: auto;
}
.activity_180808 {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
}
.activity_180808 .div_img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.activity_180808 .div_img .close_btn {
  position: absolute;
  width: 26%;
  height: 8%;
  left: 38%;
  bottom: 9.6%;
}
.activity_181106 {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
}
.activity_181106 .div_img {
  position: absolute;
  left: 50%;
  margin-left: -149px;
  top: 20%;
  width: 324px;
  height: 270px;
}
.activity_181106 .div_img .link {
  position: absolute;
  width: 300px;
  height: 56px;
  left: 0;
  bottom: 0;
}
.activity_181106 .div_img .close_btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -10px;
  top: 0;
}
@media (min-width: 1601px) {
  .main_home .main .content {
    max-width: 1600px;
  }
}
@media (max-width: 1600px) {
  .main_home .main .new_year_wrap .bg_1,
  .main_home .main .valentine_wrap .bg_1 {
    height: 185px;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    background-size: auto 100%;
  }
  .main_home .main .new_year_wrap .bg_2,
  .main_home .main .valentine_wrap .bg_2 {
    height: 210px;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    background-size: auto 100%;
  }
  .main_home .main .new_year_wrap .bg_3,
  .main_home .main .valentine_wrap .bg_3 {
    height: 215px;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    background-size: auto 100%;
  }
  .main_home .main .new_year_wrap .bg_4,
  .main_home .main .valentine_wrap .bg_4 {
    height: 290px;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    background-size: auto 100%;
  }
  .main_home .main .p_list {
    width: 1168px !important;
  }
  .main_home .main .p_list .p_item {
    width: 280px;
    height: 310px;
    margin-right: 16px;
  }
  .main_home .main .p_list .p_item.no_mr {
    margin-right: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  25% {
    transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
  }
  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  75% {
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
}
@-webkit-keyframes heart {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  25% {
    transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
  }
  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  75% {
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
}
@-moz-keyframes heart {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  25% {
    transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
  }
  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  75% {
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
}
@-ms-keyframes heart {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  25% {
    transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
  }
  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  75% {
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
}
@keyframes move {
  to {
    background-position: -550px 0;
  }
}
@-webkit-keyframes move {
  to {
    background-position: -550px 0;
  }
}
@-ms-keyframes move {
  to {
    background-position: -550px 0;
  }
}
@-ms-keyframes move {
  to {
    background-position: -550px 0;
  }
}
@-moz-keyframes move {
  to {
    background-position: -550px 0;
  }
}
